img {
  object-fit: contain;
  max-width: 100%;
  width: 100px;
  color: fuchsia;
  display: flex;
  justify-content: center;
}

div {
    width: 70%;  
    background-color: white;
    height: 50%; 
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

h1{
  display: flex;
  justify-content: center;
}

body{
  background-color: blueviolet;
}
p {
  display: flex;
  justify-content:xz baseline;
}

h2{
  display: block;
}

hr{
  display: flex;
  flex-direction: column;
}